How long do I have to wait until my birthday?

<form action="/personal_info" method="post">
  <label for name>My name is
  <input type="text" name="name"></label>

  <input type="submit" value="Tell me!">


</form>
