<head>
    <title>Birthday!</title>
    <style>

    body { font-family: Arial, Helvetica;
    font-size: 30px;
    color: darkslateblue;
    text-align: center;
    background-color: #ffffe5;
    }
    </style>

</head>
<body>
<%= @birthday_greeter.opening_message %>, <%= session[:name] %>!

<br>

<%= @birthday_greeter.closing_message %>.
</body>